/* background colour: #f4f7ff */
:root {
  --ambition-community-color: #f4f7ff;
  --ambition-icon-color: #3392fb;
  --ambition-icon-bg-outer: #d7edfe;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  word-break: break-word;
}

html {
  min-height: 100%;
}

.heading {
  font-size: 1.25rem;
}

.sub-heading {
  font-size: 0.875rem;
}
.sub-text {
  font-size: 0.7rem;
}
.content {
  padding-left: 5rem;
  padding-right: 5rem;
}

body {
  height: 100%;
  position: absolute;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

/* my ambition comunity css */

.ambition-community {
  margin-top: 1.5rem;
  clear: both;
  background-color: var(--ambition-community-color);
  width: 100%;

}

.ambition-community-heading {
  margin: auto;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.ambition-community-content .icon-container {
  position: relative;
  height: 2rem;
}
.ambition-community-content .icon-bg-outer {
  background-color: var(--ambition-icon-bg-outer);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  position: absolute;
  float: left;
}

.ambition-community-content .icon-bg {
  background-color: #bfe5fd;
  border-radius: 50%;
  height: 1.6rem;
  width: 1.6rem;
  float: left;
  position: absolute;
  left: 0.2rem;
  top: 0.2rem;
}

.ambition-community-content .icon i {
  color: #3392fb;
  font-size: 2rem;
  float: left;
  position: absolute;
}

.ambition-community-content {
  background-color: #f4f7ff;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-flow: row wrap;
  padding-bottom: 0.75rem;
}

.ambition-community-content > div {
  padding: 0.25rem;
  height: 30%;
  width: 30%;
}
.sub-heading {
  font-weight: 900;
}

.ambition-community-item-content {
  clear: both;
  margin-top: 1rem;
}

/* career insights css */
.career-insights {
  clear: both;
  width: 100%;
  margin-top: 1rem;
}

.career-insights-header {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 100%;
  height: 1.5rem;
}

.career-insight-heading {
  float: left;
  width: 80%;
}

.view-all {
  float: left;
  width: 20%;
  text-align: right;
  color: #bbd3e3;
  position: relative;
  top: 0.3rem;
  font-size: 0.6rem;
  padding-right: 1.5rem;
}
.career-insight-content {
  clear:both;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-flow: row wrap;
  padding-bottom: 0.75rem;

}

.career-insight-item {
  border: 2px solid #f3f4f6;
  border-radius: 10%;
  box-shadow: 20px 20px 40px #f6f5fb;
  height: 30%;
  width: 30%;
}

.career-insight-item .content-image img {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  width: 100%;
}

.career-insight-item .career-insight-item-content {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  height: 40%;

}

.career-insight-item .career-insight-item-content p {
  font-weight: 900;
}

.career-insight-item .career-insight-item-content .date {
  color: #d7d8da;
}

/* know insights */

.company-review-container {
  clear:both;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-flow: row wrap;
  padding-bottom: 0.75rem;
}
.company-review-item {
  height: 50%;
  width: 50%;
  padding: 0.25rem;
  align-self: center;
}
.company-review-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.company-review-content .company-review-text {
  height: 70%;
  width: 60%;
}
.company-review-content .content-header {
  margin-bottom: 3rem;
}

.company-review-content img {
  border-radius: 10%;
  border: 1px solid #f3f4f6;
}
.company-review-content .content-action div{
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 0.6rem;
  color: #adbed8;
}
.company-review .heading {
  padding-bottom: 1rem;
}
.company-review .sub-text {
  font-weight: 500;
  line-height: 1rem;
}
.company-review button {
  color: white;
  border-radius: 9999rem;
  background-color: #2e8cfb;
  padding: 0.5rem 0.5rem;
  font-size: 0.6rem;
}

/* media queries */

@media screen and ( max-width: 500px ) {
  .content {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .company-review-item {
    width: 100%;
    margin: 0.5rem 0;
  }
  .career-insight-item {
    width: 100%;
    margin: 0.5rem 0;
  }
  .ambition-community-content > div {
    width: 100%;
    margin: 0.5rem 0;
  }
  .career-insight-heading {
    width: 70%;
  }
  .view-all {
    width: 30%;
  }
}
@media screen and ( max-width: 400px) {
  .career-insight-heading {
    width: 60%;
  }
  .view-all {
    width: 40%;
  }
}